<div class="flex align-items-center justify-content-center m-2" (click)="openServicePage(serviceId)">
  <div class="flex flex-column text-center">
    <div class="flex align-items-center justify-content-center m-3">
      <div *ngIf="serviceId === 99999; else elseBlock" style="min-width: 100px; min-height: 100px;"
        class="flex align-content-center justify-content-center">
        <i class="pi mb-3 flex align-items-center justify-content-center" [ngClass]="serviceIcon">
        </i>
      </div>
      <ng-template #elseBlock>
        <img [lazyLoad]="imageUrl" class="border-circle" />
      </ng-template>

    </div>
    <div class="flex align-items-center justify-content-center font-bold">{{serviceName}}</div>
  </div>
</div>
