<button
	type="button"
	class="service-button"
	(click)="openServicePage(serviceId)"
	[attr.aria-label]="
		serviceId === SEE_MORE_SERVICE_ID ? 'See all streaming services' : 'Browse ' + serviceName + ' movies'
	"
>
	<span class="service-button__icon" aria-hidden="true">
		<i *ngIf="serviceId === SEE_MORE_SERVICE_ID; else providerIcon" class="pi" [ngClass]="serviceIcon"></i>
		<ng-template #providerIcon>
			<app-service-icon
				[serviceId]="serviceId"
				[serviceName]="serviceName"
				[interactive]="false"
			></app-service-icon>
		</ng-template>
	</span>
	<span class="service-button__label">{{ serviceName }}</span>
</button>
