<div
	class="service-icon"
	[class.service-icon--interactive]="interactive"
	[attr.role]="interactive ? 'button' : null"
	[attr.tabindex]="interactive ? 0 : -1"
	[attr.aria-label]="interactive ? 'Browse ' + serviceName + ' movies' : null"
	(click)="openUrl()"
	(keydown.enter)="activateWithKeyboard($event)"
	(keydown.space)="activateWithKeyboard($event)"
>
	<div class="service-icon__media">
		<img
			[src]="imageUrl"
			(error)="useProviderFallback($event)"
			[attr.alt]="serviceName ? serviceName + ' icon' : 'Streaming service icon'"
			class="service-icon__image border-circle"
		/>
	</div>
	<div class="service-icon__name">{{ serviceName }}</div>
</div>
