<ng-template #serviceContent>
	<div class="service-icon__media">
		<img
			[src]="imageUrl"
			(error)="useProviderFallback($event)"
			[attr.alt]="serviceName ? serviceName + ' icon' : 'Streaming service icon'"
			width="80"
			height="80"
			decoding="async"
			class="service-icon__image"
		/>
	</div>
	<div class="service-icon__name" [attr.title]="serviceName">{{ serviceName }}</div>
</ng-template>

@if (interactive) {
	<button
		type="button"
		class="service-icon service-icon--interactive"
		[attr.aria-label]="accessibleLabel"
		(click)="openUrl()"
	>
		<ng-container [ngTemplateOutlet]="serviceContent"></ng-container>
	</button>
} @else {
	<div class="service-icon">
		<ng-container [ngTemplateOutlet]="serviceContent"></ng-container>
	</div>
}
