<div class="grid-nogutter">
	<div class="col-offset-2 col-8">
		<div class="grid-nogutter">
			<div class="col-12">
				<h1>{{ (serviceProviderData$ | async)?.clearName }}</h1>
			</div>
			<div class="col-12 pb-3">
				<p-card [header]="serviceProviderCardHeader" id="whats-streaming-platform-card" class="text-center">
					<div class="flex justify-content-around flex-wrap m-2">
						<p-chip *ngFor="let monetizationType of (serviceProviderData$ | async)?.monetizationTypes"
							[label]="mapMonetizationType(monetizationType)" styleClass="mr-2"></p-chip>
					</div>
				</p-card>
			</div>

			<div class="col-12 pb-3">
				<app-film-node *ngFor="let filmCredit of this.filmsAvailable$ | async" [filmOverview]="filmCredit"
					[providerId]="serviceId">
				</app-film-node>
			</div>
		</div>
	</div>
</div>
