@font-face {
    font-family: 'Easy Print';
    src: url('/assets/fonts/EasyPrint-Regular.ttf') format('ttf'),
    url('/assets/fonts/EasyPrint-Regular.woff2') format('woff2'),
        url('/assets/fonts/EasyPrint-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Special Elite';
    src: url('/assets/fonts/subset-SpecialElite-Regular.woff2') format('woff2'),
        url('/assets/fonts/subset-SpecialElite-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    // unicode-range:U+0030-0039
}
