@if (offersForProvider.length > 0) {
	<div class="offer-list">
		@for (offer of offersForProvider; track $index) {
			<button
				type="button"
				class="offer-link"
				[disabled]="!offer.urls.standardWeb"
				[attr.aria-label]="
					createLabelName(offer.monetizationType, offer.presentationType) + ', opens in a new tab'
				"
				(click)="openExternalLink(offer.urls)"
			>
				<span>{{ createLabelName(offer.monetizationType, offer.presentationType) }}</span>
				<i class="pi pi-external-link" aria-hidden="true"></i>
			</button>
		}
	</div>
} @else {
	<p class="offer-list__empty">No direct watch link is available.</p>
}
