@if (checkForProvidersWithDesiredMonitizationModel(this.monitizationType)) {
	<section class="viewing-group">
		<h3>{{ title }}</h3>
		@if (getViewingOptionsBasedOnViewingPreference(this.monitizationType) | async; as serviceProviders) {
			<ul class="viewing-group__providers">
				@for (serviceProvider of serviceProviders; track serviceProvider.id) {
					<li>
						<app-service-icon
							[serviceId]="serviceProvider.id"
							[serviceName]="serviceProvider.clearName"
							[providerIconUrl]="serviceProvider.iconUrl"
							[externalUrl]="getFirstUrlForServiceProvider(serviceProvider.id, this.monitizationType)"
						>
						</app-service-icon>
					</li>
				}
			</ul>
		}
	</section>
}
